@{
    List<Product> Products = Model;
}

@foreach (var product in Products)
{
    <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
        <div class="product-item text-center" data-id="@product.Category.Name.ToLower()">
            <div class="img">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                    <img src="~/img/@product.ImageUrl" class="img-fluid" alt="">
                </a>
            </div>
            <div class="title mt-3">
                <h6>@product.Name</h6>
            </div>
            <div>
                <button class="btn btn-success" id="add-to-basket" value="@product.Id">Add to basket</button>
                <br />                
            </div>
            <div class="price py-2">
                <span class="text-black-50 pr-2">$@product.Price <sup>-@product.Discount%</sup></span>
                <strong class="text-success p-1">$@(product.Price - (product.Price * product.Discount) / 100)</strong>
            </div>
        </div>
    </div>
}